/* CSS */

#div_question_back {
    min-height: 120px;
    text-align: center;
    padding: 10px 25px 10px 25px;
    font-size: 1.5vw;
}

#div_question_text {
    text-align: center;
    font-size: 1.5vw;
    padding: 10px 25px 10px 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
}

.option {
    background-color: lightblue;
    background-image: linear-gradient(#232366 15%, #273296 90%, #232366);
    border-radius: 10% / 50%;
    height: 60px;
    text-align: left;
    font-size: 1vw;
    line-height: normal;
    padding: 1px 15px 1px 30px;

    color: white;
    border-style: solid;
    border-color: orange;
    border-width: 2px;
}

.question {
    background-color: #273296;
    background-image: linear-gradient(#232366 15%, #273296 90%, #232366);
    border-radius: 10% / 50%;
    min-height: 80px;
    text-align: center;
    line-height: 120%;
    padding: 10px 15px 10px 15px;
    font-size: 1.5vw;

    color: white;
    border-style: solid;
    border-color: orange;
    border-width: 2px;
}

.bottom {
    position: absolute;
    bottom: 15%;
    left: 0;
}

.img_lifeline {
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 1cm;
}

.borderless td, .borderless th {
    border: none;
}


#img_logo {
    width: 250px;
    height: 250px;
    padding: 10px;
    border-radius: 5cm;
}

#div_logo {
    top: 20%;
    left: 10px;
    right: 10px;
    position: absolute;
    text-align: center;
}

#div_audience_poll {
    top: 12%;
    right: 5%;
    position: absolute;
    text-align: center;
}

#div_timer {
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    text-align: center;
    line-height: 100px;

    background-image: linear-gradient(#232366 15%, #273296 90%, #232366);
    border-style: solid;
    border-color: orange;
    border-width: 2px;
}

#sp_timer {
    font-size: 55px;
    color: #DAA520;
    font-weight: bold;
}

#div_lifelines {
    top: 15%;
    left: 10px;
    right: 10px;
    position: absolute;
    text-align: center;
}

#div_won_amount {
    width: 70%;
    height: 60px;
    margin: auto;
    bottom: 20%;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: yellow;
}