/* CSS */

.option {
    background-color: lightblue;
    border-radius: 10% / 50%;
    height: 50px;
}

.question {
    background-color: lightblue;
    border-radius: 10% / 50%;
    height: 50px;
}

.bottom {
    position:absolute;
    bottom: 20%;
    left: 0;
}