<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type='text/javascript' src="static/lib/socket.io-client/dist/socket.io.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src="static/lib/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="static/contestant.js"></script>
    <link type="text/css" rel="stylesheet" href="static/css/question.css">
    <!--<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>-->
</head>
<body>
    <div class="option">

    </div>
</body>
</html>