<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type='text/javascript' src="static/lib/socket.io-client/dist/socket.io.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src="static/lib/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="static/contestant.js"></script>
    <link type="text/css" rel="stylesheet" href="static/css/question.css">
    <!--<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>-->
</head>
<body>

    <div id="div_table" class="table bottom" style="width:100%; text-align: center; position: relative, bottom;">
        <table style="width:70%; margin-left:auto; margin-right:auto;">
            <tr>
                <td colspan="2"><div id="div_timer">
                    <span id="sp_timer" class="sp_timer" style="font-size: 40px;"></span>
                </div></td>
            </tr>
            <tr>
                <td colspan="2"><div id="div_question" class="question">
                    <p id="p_question"></p>
                </div></td>
            </tr>
            <tr>
                <td>
                    <div id="div_option_a" class="option"></div>
                </td>
                <td>
                    <div id="div_option_b" class="option"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="div_option_c" class="option"></div>
                </td>
                <td>
                    <div id="div_option_d" class="option"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="div_won_amount">
        <span id="sp_won_amount" style="font-size: 50px;"></span>
    </div>
</body>
</html>