<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Start</title>
    <script type='text/javascript' src="static/lib/socket.io-client/dist/socket.io.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src="static/lib/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="static/home_start.js"></script>
</head>
<body>
    <button id="btn_load_names">Load Names</button>
    <table id="table_names" style="width: 100%; border: 1px solid black;">
            <tr>
                <th>User Names</th>
            </tr>
    </table>
</body>
</html>