<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type='text/javascript' src="static/lib/socket.io-client/dist/socket.io.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src="static/lib/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="static/host.js"></script>
</head>
<body>
    <div id="questions"></div><br />
    <div id="question">
        <span id="txt_question"></span>
        <br />
        <button id="option_a"></button>
        <button id="option_b"></button>
        <button id="option_c"></button>
        <button id="option_d"></button>
    </div><br />
    <div>
        <h1>
            <span class="seconds">00</span>
            <br />
            <button id="pause" class="pause">Pause</button>
            <button id="resume" class="resume">Resume</button>
        </h1>
    </div><br />
    <button id="btn_lifelines">Show Lines</button>
    <div id="div_lifelines" class="div_lifelines">
        <button id="lifeline_1">Line 1</button>
        <button id="lifeline_2">Line 2</button>
        <button id="lifeline_3">Line 3</button>
    </div>

    <button id="btn_answer">Reveal Answer</button>
</body>
</html>