<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Start</title>
    <script type='text/javascript' src="static/lib/socket.io-client/dist/socket.io.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src="static/lib/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="static/js/constants.js"></script>
    <script type='text/javascript' src="static/js/host.js"></script>
    <link type="text/css" rel="stylesheet" href="static/css/host.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="border-style: solid; border-width: 1px; text-align: center;">
        <h1>
            <span class="seconds">00</span>
            <br />
            <button id="pause" class="pause">Pause</button>
            <button id="resume" class="resume">Resume</button>
        </h1>
    </div><br />
    <div style="width: 100%;">
        <div id="div_answer" style="border-style: solid; border-width: 1px; text-align: center;">
            <span id="txt_answer_stat"></span><br/>
            <span id="txt_trivia"></span><br/>
            <button id="btn_reveal_answer">Reveal Answer</button>
        </div>
        <div id="div_audience_data">
            <canvas id="cn_audience_poll" style="width:100%;max-width:300px; height: 100%; max-height: 300px;">
                
            </canvas>
        </div>
        <div id="div_table" class="table bottom" style="width:70%;float: left;">
            <table style="width:70%; margin-left:auto; margin-right:auto; table-layout:fixed;">
            <tr>
                <td colspan="2">
                    <div id="div_timer" style="text-align: center;">
                    <span id="sp_timer" class="sp_timer" style="font-size: 40px;"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><div id="div_question" class="question">
                    <p id="p_question"></p>
                </div></td>
            </tr>
            <tr>
                <td>
                    <div id="div_option_a" class="option">
                        <p id="p_option_a"></p>
                    </div>
                </td>
                <td>
                    <div id="div_option_b" class="option">
                        <p id="p_option_b"></p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="div_option_c" class="option">
                        <p id="p_option_c"></p>
                    </div>
                </td>
                <td>
                    <div id="div_option_d" class="option">
                        <p id="p_option_d"></p>
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <div id="div_questions_list" style="float: right;">
            <button id="btn_show_lifelines">Show Lines</button><button id="btn_hide_lifelines">Hide Lines</button>
            <button id="btn_show_audience_data">Audience Answer</button>
            <div id="div_lifelines" class="div_lifelines">
                <button id="lifeline_1">Line 1</button>
                <button id="lifeline_2">Line 2</button>
                <button id="lifeline_3">Line 3</button>
                <!--resources/audience_poll.png-->
                <!--<img id="img_line1" src="{{url_for('static', filename = 'audience_poll.png')}}" class="img_lifeline">-->
            </div>
            <br/><br/>
            <center><button id="btn_next_question">Next Question</button></center>
            <table id="table_questions_list" style="width: 100%; border: 1px solid black;">
                <tr>
                    <th>Q No</th>
                    <th>Amount</th>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>