<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type='text/javascript' src="static/lib/socket.io-client/dist/socket.io.js" crossorigin="anonymous"></script>
    <script type='text/javascript' src="static/lib/jquery-3.6.0.min.js"></script>
    <script type='text/javascript' src="static/host.js"></script>
    <link type="text/css" rel="stylesheet" href="static/css/question.css">
</head>
<body>
    <div id="questions"></div><br /><br />
    <div id="question" style="border-style: solid; border-width: 1px;">
        <span id="txt_answer_stat"></span>
        <button id="btn_reveal_answer">Reveal Answer</button>
        <br />
        <span id="txt_question"></span>
        <br />
        <button id="option_a"></button>
        <button id="option_b"></button>
        <button id="option_c"></button>
        <button id="option_d"></button>
    </div><br />
    <div>
        <h1>
            <span class="seconds">00</span>
            <br />
            <button id="pause" class="pause">Pause</button>
            <button id="resume" class="resume">Resume</button>
        </h1>
    </div><br />
    <button id="btn_lifelines">Show Lines</button>
    <div id="div_lifelines" class="div_lifelines">
        <button id="lifeline_1">Line 1</button>
        <button id="lifeline_2">Line 2</button>
        <button id="lifeline_3">Line 3</button>
    </div>
    <div id="div_table" class="table bottom" style="width:100%; text-align: center; position: relative, bottom;">
        <table style="width:70%; margin-left:auto; margin-right:auto;">
            <tr>
                <td colspan="2"><div id="div_timer">
                    <span id="sp_timer" class="sp_timer" style="font-size: 40px;"></span>
                </div></td>
            </tr>
            <tr>
                <td colspan="2"><div id="div_question" class="question"></div></td>
            </tr>
            <tr>
                <td>
                    <div id="div_option_a" class="option"></div>
                </td>
                <td>
                    <div id="div_option_b" class="option"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="div_option_c" class="option"></div>
                </td>
                <td>
                    <div id="div_option_d" class="option"></div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>